@use 'vuetify' with (
  $utilities: false,
  $color-pack: false,
);

.v-main{
  background-color: #474747;
  text-align: center;
  color: #E8E8E8;
  font-size: 3rem;
}

.v-toolbar__content{
  background-color: #F08448;
}